html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img , a{ margin:0; padding:0; } 
fieldset, img { border:none; } 
img{display: block;} 
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; } 
ul, ol { list-style:none; } 
body { color:#333;font:12px "微软雅黑"; background:#fff; overflow-x:hidden;}
a { color:#666; text-decoration:none; }

/* header部分 */
#header-wrap{
	height: 60px; background: #efece8; width: 100%;
}
.header{
	width: 1200px; height: 60px; margin: 0 auto; 
}
.header .container{
	width: 418px; height: 60px; margin-left: 200px; background: #fff; 
}
.header .container a{
	float: left; margin-left: 3px; background: #efece8;
}
#header-wrap .header .cont-first{
	background: #fff;
}
#header-wrap .header .cont-last{
	margin-right: 3px;
}

/****************************** title部分***************** */
#title-wrap{
	border-bottom: 1px solid #dcdcdc; height: 32px; 
}
#title{
	height: 32px; width: 1200px; margin: 0 auto; 
}
#title .titLeftTxt{
	line-height: 32px; font-size: 12px; color: #999; float: left;
}
#title .title-right{
	float: right; width: 420px; height: 32px; 
}
#title ul li{
	float: left; height: 32px;
}
#title ul li a{
	line-height: 32px; font-size: 12px; color: #999; float: display: block;
}
#title .tit-right-li2{
	 text-indent: 2px;
}
#title .tit-right-li2 a{
	width: 25px; height: 32px; margin: 0 20px;
}
#title .tit-right-li32{
	width: 70px; height: 32px; text-indent: 18px;
}
#title .tit-right-li5{
	width: 74px; 
}
#title .tit-right-li5 .boke{
	margin-right: 5px;
} 

/*登录*/
#title .tit-right-li1{
	position: relative;  width: 44px;
}
#title .tit-right-li1 .logon0{
	display: block; width: 30px; text-indent: 5px; 
}
#title .title-right .logon{
	position: absolute; display: none; 
}
.logon_p1{
	width: 59px; height: 28px; position: absolute;  left: -6px; top: -32px; border-left: 1px solid #dcdcdc;
}
.logon_p1_right{
	position: absolute; left: 54px; top: -32px; width: 41px; height: 28px; border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;  
}
.logon_p2{ 
	width: 80px; height: 65px;  padding: 5px 10px 10px 10px; position: absolute;  left: -6px; top: -4px; 
	border: 1px solid #dcdcdc; border-top: none; background: white; margin-top: 1px;
}
#title .logon_p2 a{
	display: block; line-height: 22px; font-size: 12px; color: #000;
}

/*我的邦购*/
#title .tit-right-li3{
	width: 63px; background: url(../images/img-home/sanjiao.jpg) no-repeat right center; position: relative;
}
.myBangGou{
	display: none;
}
#title .mbg_p_top{
	position: absolute; width: 75px; height: 28px; top: 0; left: -6px; border-left: 1px solid #dcdcdc; border-right:
	1px solid #dcdcdc; 
}
.mbg_p_bot{
	width: 69px; height: 95px; position: absolute; left: -6px; top: 28px; background: #ffffff; padding-left: 6px;  
	border: 1px solid #dcdcdc; border-top: none; padding-top: 13px;
}
#title .mbg_p_bot a{
	display: block; color: #000000; line-height: 16px; width: 69px; height: 23px; 
}
/*我的下载*/
#title .tit-right-li4{
	width: 82px; background: url(../images/img-home/sanjiao.jpg) no-repeat 65px center; margin: 0 10px; position: relative;

}
#title .tit-right-li4 img{
	float: left; margin-top: 8px;
}
#title .tit-right-li4 a{
	float: left; 
}
.appLeft{
	width: 86px; height: 26px; position: absolute; left: -5px; top: 0; border-left: 1px solid #dcdcdc;
}
.appRight{
	width: 68px; height: 26px; position: absolute; left: 81px; top: 0; border-left: 1px solid #dcdcdc; 
	border-bottom: 1px solid #dcdcdc;
}
.appBot{
	width: 154px; height: 160px; position: absolute; left: -5px; top: 26px; background: #ffffff; margin-top: 1px;
	border: 1px solid #dcdcdc; border-top: none;
}
#title .tit-right-li4 .appBot a{
	position: absolute; left: 7px; top: 3px;
}
.appBot a img{
	width: 140px; height: 140px;
}
.loadApp{
	display: none;
}
.tit-right-li5{
	position: relative; 
}
.weixin img{
	width: 140px; height: 140px; 
}
.weixin{
	width: 140px; height: 140px; position: absolute; left: -43px; top: 30px; padding-top: 5px; background: #ffffff;
	display: none;
}






/****************************** logo栏***************** */
#logo-wrap{
	height: 79px; width: auto; 
}
#logo{
	height: 79px; width: 1200px; margin: 0 auto;
}
#logoLeft{
	width: 259px; height: 79px; float: left;
}
#logo .inputMsg{
	margin-top: 22px; border: 3px solid #d51819; float: left; width: 375px; height: 32px; margin-right:
	16px;
}
#logo .msg{
	width: 338px; height: 30px; float: left; border: 0; 
}
#logo .btn{
	width: 37px; height: 32px; float: left; border: 0; background: red url(../images/img-home/pic.png) no-repeat 12px -362px;
}
#logoCenter{
	width: 395px; height: 78px; float: left; 
}
#logoCenter ul{
	margin-top: 35px;
}
#logoCenter li{
	float: left; padding: 0 11px; border-right: 1px solid #e2dce2;
}
#logoCenter li a{
	float: left;
}
#logoCenter .logCenLi6{
	border: none;
}
.logCenLi5 a{
	color: #d30a06;
}
.logCenLi3 a{
	color: #d30a06;
}
#logoRight{
	width: 146px; height: 78px; float: right; background: url(../images/img-home/bag.jpg) no-repeat 0 30px ;
}
#logoRight p{
	margin: 37px 0 0 41px; color: #000;
}
#logoRight p a{
	color: #d30a06; 
}


/****************************** nav栏***************** */
#nav-wrap{
	height: 40px; border-bottom: 3px solid #333333;
}
#nav{
	width: 1200px; height: 40px; margin: 0 auto; 
}
.navLeft{
	background: url(../images/img-home/3.jpg) no-repeat 15px 14px; width: 244px; height: 40px; float: left;
}
.navLeft p{
	color: #000000; line-height: 40px; font-size: 16px; margin-left: 45px; 
}
.navCenter{
	height: 40px; width: auto; float: left;
}
.navCenter ul li{
	float: left; margin: -5px 15px 0 15px;
}
.navRight{
	float: right; width: 134px; height: 40px;
}



/****************************** 主要内容区***************** */
#main-wrap{
 	height: 300px; min-height: 300px; height: auto !important; 
}


/****************************** bottom栏***************** */

/*bottom-top*/
#bottom-top-wrap{
	height: 280px; border-bottom: 1px solid #dcdcdc; width: 100%; margin-top: 53px;
}
#bottom-top{
	height: 240px; width: 1200px; margin: 0 auto; border: 1px solid #dcdcdc;
}
#bottom-top li img{
	vertical-align: bottom;
}
#bottom-top li{
	float: left; border-right: 1px solid #dcdcdc;;
}
#bottom-top .bottom-top-li4{
	border: none;
}
.bottom-top-li4 a{
	display: block;
}
.bottom-top-li4 ul{
	width: 360px; height: 61px; margin-top: 14px; 
}
.bottom-top-li4 ul li{
	float: left;
}
.bottom-top-li4 ul li img{
	margin:0 39px 8px 40px; 
}
.bottom-top-li4 ul li p{
	font-size: 11px; margin-left: 36px;
}
#bottom-top .bottom-top-li43{
	border: none;
}
/*bottom-bottom*/
#bottom-bottom-wrap{
	height: 185px; width: 100%;
}
#bot-bot-wul1{
	height: 40px; background: #f7f7f7; width: 1200px; margin: 0 auto;
}
#bot-bot-wul1 li{
	float: left; margin-right: 144px; line-height: 40px; font-size: 14px; font-weight: 900;
}
#bot-bot-wul1 li a{
	color: #231815; 
}
#bottom-bottom{
	width: 1200px; height: 143px; margin: 0 auto; padding-top: 2px;
}
#bottom-bottom ul{
	float: left; width: 200px; height: 145px; 
}
#bottom-bottom ul li a{
	margin-top: 19px; font-size: 12px; color: #000000; display: block;
}
#footer{
	width: 1200px; height: 111px; margin: 0 auto; border-top: 1px solid #999999; margin-top: 10px;
}
#footer p{
	margin: 24px auto 18px; width: 1200px; font-size: 14px; display: block; text-align: center;
}
#footer div{
	width: 264px; margin: 0 auto; 
}
#footer .webInfor{
	float: left; 
}
#footer .shgs{
	float: left; margin-left: 10px;
}




































































